# configure artifacts
/config.mk

# build artifacts
*.o
src/*.o
*.d

# result binaries
/underthec
/underthec_xscr
/underthec.exe
/underthec.js
/underthec.wasm
/underthec.scr

# cmake generic and profile builds
/build*/
/cmake-*/

# dist
/CMakeFiles
/obj-x86_64-linux-gnu

# EFI
*.EFI
/esp/
/OVMF_VARS_4M.fd


# Android
/src/target/androidtv/build/
/src/target/androidtv/.gradle/
/src/target/androidtv/.cxx/
/src/target/androidtv/local.properties
*.jks
keystore.b64

# IDE
/.idea

#EOF
